<!-- Dali Clock - a melting digital clock for Palm WebOS.
     Copyright (c) 1991-2009 Jamie Zawinski <jwz@jwz.org>

     Permission to use, copy, modify, distribute, and sell this
     software and its documentation for any purpose is hereby granted
     without fee, provided that the above copyright notice appear in
     all copies and that both that copyright notice and this
     permission notice appear in supporting documentation.  No
     representations are made about the suitability of this software
     for any purpose.  It is provided "as is" without express or
     implied warranty.
  -->

<div id="main">
 <div id="clockbg">

<!--
  <div name="debug0" style="border:1px solid red;
      position: absolute; left:0;top:0; width:318px;height:450px"></div>
  <div name="debug1" style="border:1px solid red;
      position: absolute; left:0;top:0; width:159px;height:210px"></div>
  <div name="debug2" style="border:1px solid red;
      position: absolute; left:160px;top:211px; width:158px;height:211px"></div>
  <div name="debug3" style="border:1px solid red;
      position: absolute; left:0;top:388px;width:318px;height:34px"></div>
  <div id="log" style="background: white;
       position: absolute; left: 10px; top: 360px;">&nbsp;</div>
-->

  <canvas id="canvas" width=1 height=1></canvas>
 </div>
</div>
